/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, 
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*___________________________________________________________________________________________
                                    Start of Website
_____________________________________________________________________________________________*/
html{
    background-image: linear-gradient(-20deg, rgba(255,0,0,0), #aad4cf);
    text-align: center;

}
h1{
    font-size: 64px; 
    color: white;
    background-image: url("../image/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 120px;    
}
body{
    font-size: 18px; 
    background-color: #eafdfb;
    max-width: 800px;
    margin: auto;
    border: 10px solid #a1b7bb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}
img{
    float: left;
    border-radius: 10%; 
    display: block;
    margin: 20px;
    margin-top: 60px;
    margin-left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact1{
    border-right: none;
    }
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color:#cee4e2;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align: center;
    font-size: 25px;
    overflow: hidden;
    margin:auto;
   }
.navbar a{
   float: left;
   color:black;
   padding: 10px;
   padding-left: 97.51px;
   padding-right: 97.51px;
   display: block;
   text-decoration: none;  
   opacity: 0.6;
   border-right: 2px solid rgb(0, 0, 0);
   }
.navbar a:last-child{
    border-right: none; 
   }
.navbar a:hover {
   background-color: rgb(5, 5, 5);
   color: white;
       }
footer{
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0px 0px 2px 1px black; 
    }
li{
    text-align: left;    
    }
article{
    padding:30px;
}
.contact-page{
    border: 2px solid rgb(0, 0, 0);    
}