/*___________________________________________________________________________________________
                                    CSS Reset
_____________________________________________________________________________________________*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*___________________________________________________________________________________________
                                    Mobile First
_____________________________________________________________________________________________*/
html {
    /*Setting the base font size for the website*/ 
	font-size: 16px;
    /*Setting the font family and type*/ 
	font-family: 'Open Sans', serif; 
    /*Setting the line spacing for the website text*/ 
	line-height: 2.5rem;
}
.container {    
    /*margin of 0 on the top and bottom and "automatic" on the left and right*/
	margin: 0 auto;
    /*Setting the max and min width of the site*/ 
	max-width: 1200px;
	min-width: 760px;
}
h1 {
	/*setting the font size*/ 
    font-size: 5em;
    /*setting the font weight*/ 
	font-weight: bolder;
    /*adding padding*/ 
	padding: 8px 0;
    /*setting the colour of the text*/ 
	color: white;
	padding-top: 50px;
    /*setting the line height for the h1 welcome message*/ 
	line-height: 1.5em;
}
nav {
    /*setting the background colour of the nav*/ 
	background-color: #222;
    /*adding padding*/
	padding: 10px;
}
ul {
    /*removing the bullets of the list*/
	list-style-type: none;
    /*aligning the text in the center of the container*/ 
	text-align: center;
    /* adding the background colour to the list items*/
	background-color: #222;
    /*resetting margins*/
	margin: 0;
}
li a {
    /*setting the display to block*/
	display: block;
    /* removing text decorations*/
	text-decoration: none;
    /*adding padding*/
	padding: 1em;
    /* setting the colour of the nav text */
	color: #c78c06;
}
.navtop {
    /*setting the background colour of home*/ 
	background-color: #c78c06;
    /* setting the colour of home */
	color: #222;
}
.menucheck {
    /*setting the background colour*/ 
	background-color: #c78c06;
    /*adding padding*/
	padding-bottom: 30px;
}
form.search-container input[type=text] {
    /*adding padding*/
	padding: 10px;
    /* setting the font size for the search container*/
	font-size: 17px;
    /* adding a border*/
	border: 1px solid gray;
    /* float the searchbar to the left*/
	float: left;
    /* setting the width of the searchbar*/
	width: 94%;
    /* setting the background*/
	background: white;
}
form.search-container button {
    /*float the search button to the left next to the searchbar*/ 
	float: left;
    /*adding padding*/
	padding: 10px;
    /* setting the background colour*/
	background: #222;
    /* setting the colour of the icon gold*/
	color: #c78c06;
    /* setting the font size*/
	font-size: 17px;
    /* adding a border*/
	border: 1px solid #c78c06;
    /* removing the left boarder*/
	border-left: none;
    /* changing the cursor into a pointer when cursor hovers over the button*/
	cursor: pointer;
    /*adding margins to the top*/
	margin-top: 5px;
}
form.search-container::after {
    /* Clear the floats after the columns */
	content: "";
	clear: both;
	display: table;
}
h2 {
    /* setting the font for h2 to bold*/
	font-weight: bold;
    /*setting the font size*/
	font-size: 3em;
    /*adding padding*/
	padding: 10px;
    /*adding margins to the top*/
	margin-top: 30px;
}
h3 {
    /*setting the font weight*/
	font-weight: bolder;
    /* setting the font size*/
	font-size: 2em;
    /*adding margins to th top and bottom*/
	margin-top: 20px;
	margin-bottom: 20px;
}
h4 {
    /*setting the font weight*/ 
	font-weight: bolder;
    /* adding a border to the bottom of the text*/
	border-bottom: 2px solid #c78c06;
    /*adding margins to the bottom*/
	margin-bottom: 10px;
}
.main1 {
    /*setting the position to relative*/
	position: relative;
} 
.bannerbox{
    /* setting the background colour of the bannerbox container*/
    background-color: #ffe6ac;
}
.welcome-message {
    /*setting the position to absolute*/ 
	position: absolute;
    /*changing the position near the top*/
	top: 5%;
    /* setting the background colour to rgb to add the opacity directly to the colour*/
	background: rgb(34, 34, 34, 0.6);
    /* setting the colour of the text*/
	color: white;
    /*adding padding*/
	padding: 15px;
}
 
.connectbutton {
    /*adding padding*/
	padding: 20px;
    /*setting the background colour*/
	background: #c78c06;
    /* setting the colour of the text*/
	color: #222;
    /* adding a border*/
	border: 2px solid #c78c06;
    /*adding margins to the top*/
	margin-top: 10px;
    /* changing the font size for the button*/
	font-size: 18px;
}
.planbuttons {
    /*adding padding*/
	padding: 20px;
    /*setting the background colour*/
	background: #222;
    /*setting the text colour*/
	color: white;
    /*adding a border*/
	border: 2px solid #222;
    /*adding margins to the top*//*adding margins to the top*/
	margin-top: 10px;
    /*changing the font size for the button*/
	font-size: 18px;
}

#vision {
    /*setting the position to relative*/
	position: relative;
    /*setting the height of the vision container to 250px*/ 
	height: 250px;
}

.visionbox {
		    /*background image;*/
	background-image: url("../images/vision.jpg");
    /*changing the background position and background size to make sure the image always covers the div and doesn't repeat */
    background-position: center center;
    background-size: cover;
	/*setting the position to relative*/ 
		position: absolute;
		/*setting the position to the top of the container*/ 
        top:0;
        /*setting the height of the image*/
        height: 100%;
        /* used right and left to position this element in the center of its container */
        left: 50%;
        right: 50%;
        /* adding margins to the left right and bottom*/
        margin-left: -50vw;
        margin-right: -50vw;
         /* set the width to be the width of the browser window */
         width:100vw;
    	/* set a negative z-index (or layer) to put this behind your content */
    	z-index: -1;
		

    

}
.visiontext {
    /*setting the max-width of the text container*/
	 padding: 15px;     
	 /*setting the colour of the text*/
    color: white;
}
.visionbutton {
    /*adding padding*/
    padding: 20px;
    /*setting the background colour to add opacity*/
    background: rgb(34, 34, 34, 0.6);
    /*setting the colour of the text*/
    color: white;
    /*adding a border */
    border: 2px solid #c78c06;
    /*adding margins to the top*/
    margin-top: 10px;
    /*setting the font size of the button*/
    font-size: 18px;
}
 
.sendbutton {
    /*setting the font size of the button*/
    font-size: 18px;
    /*adding padding*/
    padding: 4px;
    /*setting the background colour*/
    background: #222;
    /*setting the colour of the text*/
    color: #c78c06;
    /*adding a black border*/ 
    border: 2px solid #222;
}
/*Styling the information boxes*/
input[type=text],
select,
textarea {
    /* Full width of the browser*/
    width: 100%;
    /*adding padding*/
    padding: 3px;
    /* Makes sure that the padding and width stays in place*/
    box-sizing: border-box;
    /* Margin at the top*/
    margin-top: 6px;
    /* Margin at the bottom*/
    margin-bottom: 16px;
    /* Allow the user to vertically resize the textarea only*/
    resize: vertical;
}
table {
    /*setting the width of the table*/ 
    width: 100%;
}
table,
th,
tr,
td {
    /*adding borders to the hours table*/ 
    border: 1px solid #222;
}
th,
td {
    /*adding padding*/
    padding: 1em 0;
}

th {
   /*setting the background colour*/  
    background: #ffe6ac;
    /*certering the text*/
    text-align: center;
}

td {
    /*adding padding to the left*/
    padding-left: 20px;
}
 
.aboutbox {
    /*setting the background colour*/
    background: #ffe6ac;
    /*adding padding*/
    padding: 15px;
}
 
.abouttitle{
    /*setting the font size of the title*/
    font-size: 3em;
    /*setting the font weight of the title*/
    font-weight: bolder;
}

.digitalbox,
.marketingbox,
.videobox,
.webbox,
.printbox,
.team1,
.team2 {
/*adding light yellow background colour and margins to the content boxes*/     
    background: #ffe6ac;
    margin: 15px;
}
.about-us p {
    /*adding padding*/
    padding-bottom: 15px;
}
.texts,
.teamtext {
    /*adding padding*/ 
    padding: 15px;
    /*setting the line height of the texts*/ 
    line-height: 1.5rem;
}
 
.image-logo {
    /*setting the sidth of the logo*/
    width: 100px;
    /*setting the height to automatic*/
    height: auto;
}
img {
/*Making the images fit the width of their containers*/     
    width: 100%;
    /*set the height to adjust of the dimentions of the width*/ 
    height: auto;
    /*making the image cover the container*/
    object-fit: cover;
}
.contact-page,
.hours,
.location {
    /*adding padding*/
    padding: 15px;
}
iframe{
    /*Making the map fit the width of it's container*/
    width: 100%;
}
.contact-us {
    /*adding padding on the bottom*/
    padding-bottom: 0;
}
footer {
    /*Setting the text and background colour */ 
    background: #222;
    color: #c78c06;
    /* changing line height of the footer*/
    line-height: 2;
    /*adding padding*/
    padding: 20px;
}
/*___________________________________________________________________________________________
                                    Desktop Styling
_____________________________________________________________________________________________*/

@media screen and (min-width:760px) {
    
	nav{
	/*reset the padding on the nav*/ 
	position: relative;
	padding: 0;
	}
    .backnav {
		/*setting the position to relative*/ 
		position: absolute;
		/*setting the position to the top of the container*/ 
        top:0;
        /*setting the height of the image*/
        height: 100%;
        /* used right and left to position this element in the center of its container */
        left: 50%;
        right: 50%;
        /* adding margins to the left right and bottom*/
        margin-left: -50vw;
        margin-right: -50vw;
         /* set the width to be the width of the browser window */
         width:100vw;
        /*setting the background colour of the nav*/ 
	    background-color: #222;
    	/* set a negative z-index (or layer) to put this behind your content */
    	z-index: -1;
    }
    li a {
        /*float the nav list to the left*/ 
        float: left;
        /*removing the text decorations*/
        text-decoration: none;
        /*adding padding*/
        padding: 1em 2.5rem;
        /* adding margins at the top */
        margin-top: 45px;
    }
    .menucheck {
        /*float the container to the left*/ 
        float: left;
        /*setting the background colour*/ 
        background-color: #222;
        /*adding padding*/
        padding: 20px 50px;
        /* adding margins */
        margin: 10px;
    }
    form.search-container input[type=text] {
        /*shortening the width of the searchbar*/ 
        width: 15.4%;
        /* adding margins to the top*/
        margin-top: 50px;
    }
    form.search-container button {
        /* adding margins to the top*/
        margin-top: 50px;
    }
     
    .welcome-message {
        /*setting the position of the welcome message*/
        position: absolute;
        top: 5%;
        left: 8%;
        right: 8%;
    }
     
    .bannerbox {
        /*setting the height of the container*/
        height: 510px;
        /*removing the background colour*/
        background: none;
    }
    
    .mainimage {
        /**/ 
        position: absolute;
        top:0;
        /*setting the height of the image*/
        height:100%;
        /* used right and left to position this element in the center of its container */
        left: 50%;
        right: 50%;
        /* adding margins to the left right and bottom*/
        margin-left: -50vw;
        margin-right: -50vw;
         /* set the width to be the width of the browser window */
         width:100vw;
         /* set a negative z-index (or layer) to put this behind your content */
         z-index: -1; 
    }
    .aboutbox {
        /*using flex to set the container*/
        display: flex;
		position: relative;
	}
	.backabout{
				/*setting the position to relative*/ 
				position: absolute;
				/*setting the position to the top of the container*/ 
				top:0;
				/*setting the height of the image*/
				height: 100%;
				/* used right and left to position this element in the center of its container */
				left: 50%;
				right: 50%;
				/* adding margins to the left right and bottom*/
				margin-left: -50vw;
				margin-right: -50vw;
				 /* set the width to be the width of the browser window */
				 width:100vw;
				 padding:0; 
		    	/* set a negative z-index (or layer) to put this behind your content */
				z-index: -1;	
				background-color: #ffe6ac;
					 
    }

    .about-us {
		position: relative;
        /*changing the direction of about us container - reversing the image and text*/ 
        flex-direction: row-reverse;
        /*adding padding left and right*/
        padding-left: 30px;
        padding-right: 60px;
		
    }
   
    .aboutimage{
        /*setting the height of the image to 250px*/ 
        height: 250px;
        /*setting the width to ajust the dimensions to match the height*/
        width: auto;
        /*adding padding to the left*/
        padding-left: 60px;
    }
    
    .abouttitle{
        /*resetting the top margin*/ 
        margin-top: 0px;
    }
    h2 {
        /*adding padding*/
        padding-left: 60px;
    }
    .services {
        /*setting the display of the container to grid*/ 
        display: grid;
        /*adding 6 columns to the grid*/ 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        /*adding 2 rows that changes to fit the height of the content*/
        grid-template-rows: auto auto;
        /*adding padding*/
        padding: 0 50px 0 50px;
    }
    .digitalbox {
        /*the item spans for 3 columns*/ 
        grid-column: 1 / span 3;
        /*the item is placed on the 1st row*/ 
        grid-row: 1;
        /* adding margins to the bottom and right*/
        margin-bottom: calc(15px - 9px);
        margin-right: calc(15px - 9px);
    }
    .marketingbox {
        /*the item starts on the 4th column and spans for 3 columns*/ 
        grid-column: 4/ span 3;
        /*the item is placed on the 1st row*/ 
        grid-row: 1;
        /* adding margins to the bottom and right*/
        margin-bottom: calc(15px - 9px);
        margin-left: calc(15px - 9px);
    }
    .videobox {
        /*the item starts on the 1st column and spans for 2 columns*/ 
        grid-column: 1 /span 2;
        /*the item is placed on the 2nd row*/ 
        grid-row: 2;
        /* adding margins to the bottom and right*/
        margin-top: calc(15px - 9px);
        margin-right: calc(15px - 9px);
    }
    .webbox {
        /*the item starts on the 3rd column and spans for 2 columns*/ 
        grid-column: 3 / span 2;
         /*the item is placed on the 2nd row*/
        grid-row: 2;
        /* adding margins to the top, bottom and right*/
        margin-top: calc(15px - 9px);
        margin-right: calc(15px - 9px);
        margin-left: calc(15px - 9px);
    }
    .printbox {
        /*the item starts on the 5th column and spans for 2 columns*/ 
        grid-column: 5 /span 2;
         /*the item is placed on the 2nd row*/
        grid-row: 2;
        /* adding margins to the bottom and right*/
        margin-top: calc(15px - 9px);
        margin-left: calc(15px - 9px);
    }
    .planbuttons {
        /*setting the width of the button to the size of the container*/ 
        width: 100%;
        /*setting the height of the buttons*/
        height: 10vh;
        /*setting the font size of button text*/
        font-size: 20px;
    }

    .team1 {
        /*setting the display of the container to flex*/
        display: flex;
        /*adding margins */
        margin: 10px 60px 0 60px;
    }
    .team2 {
        /**setting the display of the container to flex*/
        display: flex;
        /*reversing the row direction*/
        flex-direction: row-reverse;
        /* adding margins */
        margin: 0 60px;
    }
    .john,
    .bob {
        /*setting the width of the team images*/
        width: 50%;
    }
    #contact {
        /*setting the display to grid*/ 
        display: grid;
        /*adding 2 columns*/
        grid-template-columns: 1fr 1fr;
        /*adding 2 rows that changes to fit the height of the content*/
        grid-template-rows: auto auto auto;
        /* adding margins */
        margin: 0 50px;
        
    }
    .contact-us {
        /*the item starts on the 1st column and spans for 2 columns*/
        grid-column: 1 / span 2;
        /*the item is placed on the 1st row*/ 
        grid-row: 1;
        /*adding padding to the left*/
        padding-left: 10px;
    }
    .contact-page {
        /*the item placed on the 1st column*/
        grid-column: 1;
        /*the item is placed on the 2nd row*/
        grid-row: 2;
    }
    .hours {
        /*the item starts on the 1st column and spans for 2 columns*/
        grid-column: 1 / span 2;
        /*the item is placed on the 3rd row*/
        grid-row: 3;
    }
    .location {
        /*the item is placed on the second column*/
        grid-column: 2;
        /*the item is placed on the 2ns row*/
        grid-row: 2;
    }
    #message {
        /*setting the height to 30px*/ 
        height: 30px;
    }
    .visionbutton {
        /*Adding padding and making the font larger*/ 
        padding: 30px 40px;
        /*setting the font size of the button*/
        font-size: 20px;
    }
	.backfooter{
				/*setting the position to absolute*/ 
				position: absolute;
				/*setting the height of the image*/
				height: 100%;
				/* used right and left to position this element in the center of its container */
				left: 50%;
				right: 50%;
				/* adding margins to the left right and bottom*/
				margin-left: -50vw;
				margin-right: -50vw;
				 /* set the width to be the width of the browser window */
				 width:100vw;
				/*setting the background colour of the nav*/ 
				background-color: #222;
		    	/* set a negative z-index (or layer) to put this behind your content */
				z-index: -1;
	}
	footer{
		/*setting the position to relative*/ 
		position: relative;
		/*resetting the padding*/
		padding: 0;
	}
}
